body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 10px;
}

.search-container {
    margin: 20px 0;
}

.search-container input,
.search-container select {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #006c5b;
    color: white;
    margin: 20px;
}

button:hover {
    background-color: #4CAF50;
}

table {
    width: calc(100% - 20px);
    margin: 10px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #006c5b;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.header .buttons {
    display: flex;
}

.header button {
    margin-left: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.actions button {
    background-color: #006c5b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #4CAF50;
}

/* Especificamente para o botão Excluir */
.actions button:last-child {
    background-color: #c91414;
}

.actions button:last-child:hover {
    background-color: #ff4c4c;
}

/* Adicione este bloco de código no final do arquivo styles.css */

/* Estilos para telas menores que 768px (tablets e smartphones) */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .buttons {
        margin-top: 10px;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-container input,
    .search-container select {
        width: 100%;
        margin: 5px 0;
    }

    table {
        width: 100%;
    }

    .modal-content {
        width: 90%;
    }
}

/* Estilos para telas menores que 480px (smartphones) */
@media (max-width: 480px) {
    .header h1 {
        font-size: 24px;
    }

    .search-container input,
    .search-container select {
        padding: 8px;
        font-size: 14px;
    }

    button {
        padding: 8px 10px;
        font-size: 14px;
    }

    th, td {
        padding: 6px;
    }

    .modal-content {
        padding: 10px;
    }

    .actions button {
        padding: 5px 8px;
        font-size: 12px;
    }
}

/* Adicione este bloco no seu styles.css */

#loginModal, #loginModalForDelete {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#loginModal .modal-content, #loginModalForDelete .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

