/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 10px;
    color: #006c5b;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Filtros */
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters input,
.filters select {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    flex: 1 1 30%;
    min-width: 120px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #006c5b;
    color: white;
}

button:hover {
    background-color: #4CAF50;
}

/* Ramais por setor */
.ramais-container {
    border-top: 2px solid #006c5b;
    margin-top: 20px;
    padding-top: 10px;
}

.ramais-container h2 {
    color: #006c5b;
    margin: 0 0 10px;
}

.ramal-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.ramal-item div {
    flex: 1;
    padding: 0 10px; /* Adiciona um pouco de espaçamento horizontal */
}

/* Novos estilos para unidade e ramal */
.unit-ramal-container {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
}

.unit-ramal-container div {
    position: relative;
}

.unit-ramal-container div:not(:last-child)::after {
    content: "|"; /* Linha vertical */
    position: absolute;
    right: -10px; /* Espaço entre o texto e a linha */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
    color: #ddd; /* Cor da linha */
}

/* Responsivo */
@media (max-width: 768px) {
    .filters {
        flex-direction: column;
    }

    .ramal-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .ramal-item div {
        width: 100%; /* Faz os itens ocuparem a largura total */
    }
}

/* Estilos para os cabeçalhos da tabela */
th {
    background-color: #006c5b; /* Cor verde */
    color: white;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

#peopleTable th {
    background-color: #006c5b; /* Cor verde */
    color: white;
    padding: 8px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

/* Estilos adicionais para melhorar a visualização em dispositivos móveis */
@media (max-width: 480px) {
    h1 {
        font-size: 24px; /* Tamanho da fonte do título */
    }

    .filters input,
    .filters select {
        font-size: 14px; /* Tamanho da fonte dos filtros */
    }

    .ramal-item {
        padding: 6px 0; /* Menos espaço entre os itens */
    }

    .ramal-item div {
        font-size: 14px; /* Tamanho da fonte dos itens */
    }
}
